<div id="content" class="avalara-cpt-no-sidebar ava-partners">
    <style type="text/css">#wrapper .fusion-tabs.fusion-tabs-1.clean .nav-tabs li a{border-color:#ebeaea;}.fusion-tabs.fusion-tabs-1 .nav-tabs li a{background-color:#ebeaea;}.fusion-tabs.fusion-tabs-1 .nav-tabs li.active a,.fusion-tabs.fusion-tabs-1 .nav-tabs li.active a:hover,.fusion-tabs.fusion-tabs-1 .nav-tabs li.active a:focus{background-color:#ffffff;}.fusion-tabs.fusion-tabs-1 .nav-tabs li a:hover{background-color:#ffffff;border-top-color:#ffffff;}.fusion-tabs.fusion-tabs-1 .tab-pane{background-color:#ffffff;}.fusion-tabs.fusion-tabs-1 .nav,.fusion-tabs.fusion-tabs-1 .nav-tabs,.fusion-tabs.fusion-tabs-1 .tab-content .tab-pane{border-color:#ebeaea;}
p {
    margin-bottom: 45px;
}
</style>
<style>
.partners-page-tile-wrapper {
border:2px solid #797979;
}
.partners-page-tile-wrapper h3 {
margin-top:0px;
}
.partners-page-tile-title-mobile {
font-family: "apertura", Helvetica, Arial, sans-serif;
}
.partners-page-tile-wrapper .bttn-ghost {
border: 2px solid #059bd2;
color: #059bd2;
padding: 5px;
border-radius: 2px;
position:absolute;
bottom:20px;
}
.bttn-wrap {
position:absolute; 
bottom: 5px; 
width:100%;
}
.partners-page-tile-wrapper .bttn-ghost:hover {
color:#fff;
}
.partners-page-title-wrapper .fusion-column-wrapper {
margin:1px !important;
}
.partners-page-title-wrapper .fusion-column-wrapper:hover {
margin:0px;
}
/*.partners-page-tile-wrapper:hover {
border:2px solid #eaeaea;
box-sizing:border-box;
margin-bottom:16px !important;
}*/
.partners-page-tile-title {
color:#1a1a1a !important;
}
.partners-page-tile-wrapper p {
color: #919195;
}
.fusion-tabs.horizontal-tabs.clean .nav {
text-align:left;
}
#partners-page-tabs .nav {
border-bottom:1px solid #eaeaea;
}
#partners-page-tabs .nav-tabs>li {
border-bottom: 4px solid #eaeaea;
}
#partners-page-tabs .nav-tabs li>a.tab-link:hover {
color:#059bd2 !important;
border-bottom: 4px solid #eaeaea;
}
#partners-page-tabs .nav-tabs .active {
border-bottom: 4px solid #059bd2;
}
#partners-page-tabs .nav-tabs .active:hover {
border-bottom: 4px solid #eaeaea;
}
.fusion-tabs .nav-tabs li .tab-link h4 {
color:#919195;
}
.fusion-tabs .nav-tabs li .tab-link h4:hover {
color:#059bd2;
}
.fusion-tabs .nav-tabs li.active .tab-link h4 {
color:#059bd2;
}
#partners-page-tabs .nav-tabs a.tab-link:hover {
background-color:#fff !important;
color:#059bd2;
}
#partners-page-tabs .nav-tabs a.tab-link {
border:none !important;
}
@media (max-width:768px) {
#partners-page-tabs .nav {
border-bottom:none;
}
.nav-tabs {
display:none !important;
}
.tab-pane {
display:block !important;
opacity:1 !important;
}
.partners-page-tab-mobile-title {
color:#1a1a1a !important;
font-size:18px;
padding:20px 0px;
border-bottom:4px solid #eaeaea;
}
.partners-page-tile-title, .partners-page-tile-paragraph, .partners-page-tile-link {
display:none;
}
.partners-page-tile-wrapper p {
margin-bottom:0px;
}
}
@media (min-width:769px) {
.partners-page-tab-mobile-title, .partners-page-tile-title-mobile {
display:none;
}
.partners-page-tile-wrapper {
padding-bottom:41px;
}
}
@media (max-width:480px) {
        .ava-partners .partners-header {
            background-image: url("{% if row.partner_section_background_extra_small.url|length > 0 %}{{row.partner_section_background_extra_small.url}}{% elseif row.section_background.url|length > 0 %}{{row.section_background.url}}{% endif %}");
        }
        div.fusion-fullwidth.fullwidth-box.uber-banner.hero-banner.nonhundred-percent-fullwidth {
            height:570px;
        }
}
@media (min-width: 481px) and (max-width:768px) {
        .ava-partners .partners-header {
            background-image: url("{% if row.partner_section_background_small.url|length > 0 %}{{row.partner_section_background_small.url}}{% elseif row.section_background.url|length > 0 %}{{row.section_background.url}}{% endif %}");
        }
        div.fusion-fullwidth.fullwidth-box.uber-banner.hero-banner.nonhundred-percent-fullwidth {
            height:570px;
        }
}
@media (min-width: 769px) and (max-width:992px) {
        .ava-partners .partners-header {
            background-image: url("{% if row.partner_section_background_medium.url|length > 0 %}{{row.partner_section_background_medium.url}}{% elseif row.section_background.url|length > 0 %}{{row.section_background.url}}{% endif %}");
        }
}
@media (min-width: 993px) {
      .ava-partners .partners-header {
            background-image: url("{% if row.partner_section_background_desktop.url|length > 0 %}{{row.partner_section_background_desktop.url}}{% elseif row.section_background.url|length > 0 %}{{row.section_background.url}}{% endif %}");
      }
}
</style>
    <div class="partners-header fusion-fullwidth fullwidth-box fusion-fullwidth-1 fusion-parallax-none nonhundred-percent-fullwidth uber-banner hero-banner" style="margin-top:-50px; background-position: center center;background-repeat: no-repeat;background-size: cover;min-height: 400px;">
        <div class="fusion-row">
            <div class="col-md-12 col-sm-12">
                <h1 style="margin-top:50px;font-size: 48px;color: #5f6062;">{{post.title}}</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3" style="text-align:center;">
            <h1 style="font-weight:400;color: #e65000;">{{row.subtitle}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">{{row.detail_text}}</div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3" style="text-align:center;">
            <h1 style="font-weight:400;color: #e65000;">{{row.program_boxes_title}}</h1>
        </div>
    </div>
    <div class="fusion-column-wrapper">
        <div class="fusion-tabs fusion-tabs-1 clean nav-not-justified horizontal-tabs" id="partners-page-tabs">
    
            <div class="fusion-fullwidth fullwidth-box fusion-fullwidth-3  fusion-parallax-none nonhundred-percent-fullwidth fusion-equal-height-columns" style="border-color:#eae9e9;border-bottom-width: 0px;border-top-width: 0px;border-bottom-style: solid;border-top-style: solid;padding-bottom:20px;padding-top:20px;padding-left:30px;padding-right:30px;padding-left:30px !important;padding-right:30px !important;">
                <style type="text/css" scoped="scoped">.fusion-fullwidth-3 {
                    padding-left: 30px !important;
                    padding-right: 30px !important;
                }</style>
                <div class="fusion-builder-row fusion-row ">
    {% for box in row.program_boxes %}
                    <div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_3 fusion-one-third {% if loop.index is divisible by(3) %} fusion-column-last {% endif %} partners-page-tile-wrapper 1_3" style="margin-top:0px;margin-bottom:20px;width:30.6666%; {% if loop.index is divisible by(3) %} {% else %} margin-right: 4%; {% endif %}">
                        <div class="fusion-column-wrapper" style="border: 0px solid rgb(234, 234, 234); padding: 20px; background-position: left top; background-repeat: no-repeat; background-size: cover; min-height: 232px; height: auto;" data-bg-url="">
                            <p style="margin-bottom: 0px;"><a class="partners-page-tile-title-mobile" href="{{box.link}}">{{box.title}} &gt;</a></p>
                            <h3 class="partners-page-tile-title" data-fontsize="24" data-lineheight="30">{{box.title}}</h3>
                            <p class="partners-page-tile-paragraph">{{box.detail_text|striptags}}</p>
                            <div class="bttn-wrap"><a class="partners-page-tile-link bttn bttn-ghost" href="{{box.link}}">{{box.link_title_text}}</a></div>
                            <div class="fusion-clearfix"></div>
                        </div>
                    </div>
    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% if row.partner_image_title|length > 0 %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3" style="text-align:center;margin-bottom:45px;">
            <h1 style="font-weight:400;color: #e65000;">{{row.partner_image_title}}</h1>
        </div>
    </div>
    {% endif %}
    {% if row.partner_image.url|length > 0 %}
    <div class="partners-image fusion-fullwidth fullwidth-box fusion-fullwidth-1 fusion-parallax-none nonhundred-percent-fullwidth" style="background: url('{{row.partner_image.url}}');background-position: center center;background-repeat: no-repeat !important;background-color: #eee;">
    </div>
    {% endif %}
</div>